.Deck-cards {
  display: flex;
  width: 100%;
}

.Deck-card-group + .Deck-card-group {
  margin-left: 0.5rem;
}

.Deck-card {
  position: relative;
  cursor: pointer;
}

.Deck-card + .Deck-card {
  margin-top: -176px;
}

.Deck-card:hover {
  z-index: 1;
}

.Deck-counts {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0 0.5rem;
}

.Deck-counts li + li::before {
  content: '/';
  padding: 0 0.25rem;
}
