.Deck-cards {
  height: 500px;
  border: 1px solid black;
  overflow: auto;
}

.Deck-cards-mana {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.Deck-card {
  cursor: pointer;
}

.Deck-counts {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0 0.5rem;
}

.Deck-counts li + li::before {
  content: '/';
  padding: 0 0.25rem;
}
