.Deck-cards {
  height: 500px;
  border: 1px solid black;
  overflow: auto;
}

.Deck-cards-mana {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.Deck-card {
  cursor: pointer;
}
