.Filter > span {
  border-left: 1px solid #ccc;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.Filter-option > input {
  display: none;
}

.Filter-option {
  margin: 0 0.25rem;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.Filter-option-selected {
  font-weight: bolder;
}

.Filter-option-deselected {
  color: #999;
}
