.Preview {
  display: none;
  position: relative;
  margin-left: 1rem;
}

@media (min-width: 816px) {
  .Preview {
    display: block;
  }
}

.Preview-sticky {
  position: sticky;
  top: 0;
}

.Preview-card {
  width: 360px;
  height: 500px;
}
